body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #4CAF50;
}

h1 {
    font-size: 2.5rem;
    color: #4CAF50;
    margin: 10px 0;
}


h2 {
    background-color: #388E3C;
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
    padding: 4px;
}


p {
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    max-width: 600px;
}


ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

ul li {
    font-size: 1.2rem;
    margin: 10px 0;
}


ul li a {
    text-decoration: none;
    color: #4CAF50;
    transition: color 0.3s;
}

ul li a:hover {
    color: #388E3C;
}
